doctype strict
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Confirma&ccedil;&atilde;o de e-mail - Via Varejo
  style(type='text/css').
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap");
    #outlook a {
    padding: 0;
    }
    body {
    width: 100% !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
    }
    .ExternalClass {
    width: 100%;
    }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
    line-height: 100%;
    }
    #backgroundTable {
    margin: 0;
    padding: 0;
    width: 100% !important;
    line-height: 100% !important;
    }
    img {
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    }
    a img {
    border: none;
    }
    .image_fix {
    display: block;
    }
    p {
    margin: 1em 0;
    line-height: 1.5;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    color: black !important;
    }
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
    color: blue !important;
    }
    h1 a:active,
    h2 a:active,
    h3 a:active,
    h4 a:active,
    h5 a:active,
    h6 a:active {
    color: red !important;
    }
    h1 a:visited,
    h2 a:visited,
    h3 a:visited,
    h4 a:visited,
    h5 a:visited,
    h6 a:visited {
    color: purple !important;
    }
    table td {
    border-collapse: collapse;
    }
    table {
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    }
    a {
    color: orange;
    }
    @media only screen and (max-device-width: 480px) {
    a[href^="tel"],
    a[href^="sms"] {
    text-decoration: none;
    color: black;
    pointer-events: none;
    cursor: default;
    }
    .mobile_link a[href^="tel"],
    .mobile_link a[href^="sms"] {
    text-decoration: default;
    color: orange !important;
    pointer-events: auto;
    cursor: default;
    }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    a[href^="tel"],
    a[href^="sms"] {
    text-decoration: none;
    color: blue;
    pointer-events: none;
    cursor: default;
    }
    .mobile_link a[href^="tel"],
    .mobile_link a[href^="sms"] {
    text-decoration: default;
    color: orange !important;
    pointer-events: auto;
    cursor: default;
    }
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    }
    @media only screen and (-webkit-device-pixel-ratio: 0.75) {
    }
    @media only screen and (-webkit-device-pixel-ratio: 1) {
    }
    @media only screen and (-webkit-device-pixel-ratio: 1.5) {
    }
    .header {
    background-color: #006800;
    padding: 25px;
    }
    .header img {
    max-width: 100%;
    }
    .footer {
    background-color: #002f23;
    padding: 1rem;
    color: white;
    font-size: 12px;
    }
table#backgroundTable(cellpadding='0' cellspacing='0' border='0')
  tr
    td
      table(cellpadding='0' cellspacing='0' border='0' align='center' style='max-width: 600px; width: 100%')
        tr
          td.header(align='center')
            img(src=`${url}/email-images/logo_header.svg` alt='Via Varejo Marketplace')
        tr
          td(align='center' style='font-size: 20px; color: #006800; padding: 20px 1rem 0')
            table(cellpadding='0' cellspacing='0' border='0' align='center' style='max-width: 400px')
              tr
                td(align='center')
                  p(style='font-size: 21px; font-weight: 600; margin-bottom: -1rem;')
                    | Ol&aacute;, Lojista!
                  p Estamos felizes que tenha escolhido vender conosco!
        tr
          td
            table(cellpadding='0' cellspacing='0' border='0' align='center' style='max-width: 500px; width: 100%')
              tr
                td(style='height: 2px; background: #fede9e')
        tr
          td(style='padding: 0 1rem')
            table(cellpadding='0' cellspacing='0' border='0' align='center' style='max-width: 400px')
              tr
                td(align='center' style='font-weight: 500; font-size: 18px')
                  p Por favor, confirme seu endere&ccedil;o de e-mail.
        tr
          td
            table(cellpadding='0' cellspacing='0' border='0' align='center' style='max-width: 500px; width: 100%')
              tr
                td(style='height: 2px; background: #fede9e')
              tr
                td(align='center' style='padding: 3rem 1rem 1.5rem')
                  a(style='background: #009200; padding: 0.8rem 1rem; border-radius: 0.3rem; color: white; text-decoration: none;font-weight: 500;' href=`${url}/?token=${activation_token}`) Confirmar meu e-mail
              tr
                td(align='center' style='padding: 0 1rem')
                  p(style='font-size: 14px; font-style: italic')
                    | Se o bot&atilde;o n&atilde;o funcionar, copie e cole o link abaixo em
                    | seu navegador. 
                    a(href=`${url}/?token=${activation_token}` style='color: #009200') link de ativação

              tr
                td(align='center' style='font-size: 14px; padding: 0 1rem')
                  p(style='font-weight: 500; margin-bottom: -1rem')
                    | Aten&ccedil;&atilde;o!
                  p(style='font-style: italic')
                    | Esse link ir&aacute; expirar em 30 dias
              tr
                td(style='height: 2px; background: #ebebeb')
              tr
                td(align='center' style='font-size: 14px; padding: 0 1rem')
                  p(style='font-weight: 500; margin-bottom: -1rem')
                    | Antes de iniciar seu cadastro, temos uma dica:
                  p(style='font-style: italic')
                    | Se por algum motivo voc&ecirc; precisar interromper seu
                    | cadastro, n&atilde;o se preocupe, assim que fechar a aba ou
                    | janela do seu navegador, voc&ecirc; receber&aacute; um e-mail para
                    | retornar de onde parou.
              tr
                td(style='height: 2px; background: #ebebeb')
              tr
                td(align='center' style='font-size: 14px; padding: 0 0.3rem')
                  p(style='font-style: italic; color: #8c8c8c')
                    | Caso voc&ecirc; n&atilde;o teve interesse em ser nosso parceiro,
                    | desconsidere este e-mail.
              tr
                td(style='height: 2px; background: #ebebeb')
              tr
                td(align='center' style='padding: 2rem')
                  img(style='max-width: 100%' src=`${url}/email-images/logo-mktp-vertical.svg` alt='Via Varejo Marketplace')
        tr
          td.footer(align='center')
            p(style='max-width: 400px')
              | Via Varejo S.A. - CNPJ: 33.041.260/0652-90 - Rua Samuel Klein, 98 - 
              | Centro - S&atilde;o Caetano do Sul - SP, 09510-125
