extends ../base-layout.pug

block append banner
  td(bgcolor='#ffffff')
    img.fluid(src=`${_email.imgPath}reset-password.jpg`, aria-hidden='true', width='680', height='', alt='alt_text', border='0', align='center', style='width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
block append content
  td(bgcolor='#ffffff')
    table(role='presentation', aria-hidden='true', cellspacing='0', cellpadding='0', border='0', width='100%')
      tr
        td(style='padding: 40px; text-align: center; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
          p Olá, #{name}. Você esqueceu sua senha da #[strong Área Administrativa do #{_email.base_name}]?
          p Para recuperar sua senha, basta clicar no botão embaixo para confirmar a solicitação!
          p Se você não solicitou a mudança de senha, ignore esse email. #[strong Nada] será alterado.
          br
          br
          table(role='presentation', aria-hidden='true', cellspacing='0', cellpadding='0', border='0', align='center', style='margin: auto')
            tr
              td.button-td(style='border-radius: 3px; background: darkcyan; text-align: center;')
                a.button-a(href=`${_email.admin_url}auth/update/${passwordToken}`, style='background: darkcyan; border: 15px solid darkcyan; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;')
                  span.button-link(style='color:#ffffff;') &nbsp;&nbsp;&nbsp;&nbsp;Confirmar Solicitação&nbsp;&nbsp;&nbsp;&nbsp;
